---
import BaseLayout from '~/layouts/BaseLayout.astro';
import { Translations } from '~/i18n/translation.ts';

const lang = Astro.cookies.get('lang')?.value || 'es';
const t = Translations(lang);
---

<BaseLayout titleKey="nav.gastronomy" lang={lang}>
  <div class="container mx-auto py-12">
    <h1 class="text-4xl font-bold mb-4">{t('nav.gastronomy')}</h1>
    <p class="text-lg">
      Explora nuestra exquisita oferta gastronómica.
    </p>
  </div>
</BaseLayout>
