---
import BaseLayout from "@/layouts/BaseLayout.astro";

interface Props {
	lang: string;
}

const { lang = "en" } = Astro.props;
---

<BaseLayout titleKey="site.title" lang={lang}>
    <h1>Gastronimia</h1>
</BaseLayout>