---
import BaseLayout from '../layouts/BaseLayout.astro';
import { useTranslations } from '../i18n/translation';
import BookingBar from '../components/organisms/booking/BookingBar.astro'; // Replaced BookingForm with BookingBar

const lang = Astro.cookies.get('lang')?.value || 'es';
const t = useTranslations(lang);
---

<BaseLayout titleKey="nav.booking" lang={lang}>
  <div class="container mx-auto py-12">
    <h1 class="text-4xl font-bold mb-4 text-center">{t('nav.booking')}</h1>
    <p class="text-lg text-center mb-8">
      Completa el siguiente formulario para reservar tu estancia.
    </p>
    
    {/* Container to set the width to 80% and center it */}
    <div class="w-4/5 mx-auto">
      <BookingBar t={t} />
    </div>

  </div>
</BaseLayout>
