---
import UnderConstructionPage from "@/components/pages/UnderConstructionPage.astro";

export const prerender = false;
---

<div class="py-10">
    <UnderConstructionPage
        titleHead="nav.booking"
        title="Reservas"
        message="Estamos construyendo nuestra pagina para facilitar tus reservas. Pronto estará disponible."
    />
</div>
