---
// src/components/atoms/Card.astro
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class:list={["bg-white dark:bg-gray-400 rounded-xl shadow-lg overflow-hidden p-6", className]}>
  <slot />
</div>
