---
// src/components/atoms/Center.astro
interface Props {
	classes?: string;
	vertical?: boolean;
	horizontal?: boolean;
}

const { classes, vertical = true, horizontal = true } = Astro.props;
---

<div
    class:list={[
        "flex",
        horizontal && "justify-center",
        vertical && "items-center",
        vertical && "h-full", // h-full es necesario para el centrado vertical
        classes
    ]}
>
    <slot />
</div>
