---
import { Translations, defaultLang } from "~/i18n/translation.ts";

// src/components/atoms/Label.astro
interface Props {
    _id?:string
    forId: string;
    lblKey: string;
    lang?: string;
    className?: string;
}

const {
    _id,
    lblKey,
    lang = defaultLang,
    className
} = Astro.props;

const t = Translations(lang);
---

<label for={_id} class:list={['block text-sm font-medium text-primary', className]}>
    {t(lblKey)}<span class="text-red-500 ml-1">*</span>
</label>
