---
// src/components/atoms/Label.astro
import { Translations, defaultLang } from "~/i18n/translation.ts";

interface Props {
    _id?: string;
    forId: string;
    lblKey: string;
    lang?: string;
    classes?: string;
    direction?: "vertical" | "horizontal";
    alignX?: "start" | "center" | "end";
    alignY?: "start" | "center" | "end";
}

const {
    _id,
    forId,
    lblKey,
    lang = defaultLang,
    classes = "",
    direction = "horizontal",
    alignX = "start",
    alignY = "center",
} = Astro.props;

const t = Translations(lang);

// Construcción dinámica de clases usando flexbox
const directionClass = direction === "horizontal" ? "flex-row space-x-2" : "flex-col";
const horizontalAlignClass =
    alignX === "center"
        ? "justify-center"
        : alignX === "end"
            ? "justify-end"
            : "justify-start";

const verticalAlignClass =
    alignY === "center"
        ? "items-center"
        : alignY === "end"
            ? "items-end"
            : "items-start";
---

<label
        for={forId}
        class:list={[
            "flex text-sm font-medium text-primary cursor-pointer mb-0",
            directionClass,
            horizontalAlignClass,
            verticalAlignClass,
            classes,
        ]}
>
    {t(lblKey)}
    <span class="text-red-500 ml-1">*</span>
</label>
