---
interface Props {
	_id?: string;
	class?: string;
	alignX?: "start" | "center" | "end";
	alignY?: "start" | "center" | "end" | "stretch";
	gap?: string;
	wrap?: boolean;
}

const {
	_id,
	class: className = "",
	alignX = "start",
	alignY = "center",
	gap = "gap-2",
	wrap = false,
} = Astro.props;

const justifyClass =
	alignX === "center"
		? "justify-center"
		: alignX === "end"
			? "justify-end"
			: "justify-start";

const itemsClass =
	alignY === "start"
		? "items-start"
		: alignY === "end"
			? "items-end"
			: alignY === "stretch"
				? "items-stretch"
				: "items-center";

const wrapClass = wrap ? "flex-wrap" : "flex-nowrap";
---

<div
        id={_id}
        class:list={[
        "flex flex-row",
        wrapClass,
        gap,
        className,
        justifyClass,
        itemsClass,
    ]}
>
    <slot/>
</div>
